<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%-include("../partials/header")%>
    <section>
        <h1><%=title%></h1>
        <form action="/teachers/update/<%=teacher_id%>" method="POST">
            <div class="f-name">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" value="<%=firstName%>">
            </div>
            <div class="l-name">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" value="<%=lastName%>">
            </div>
            <button type="submit">Confirm Changes</button>
        </form>
    </section>
    <%-include("../partials/footer")%>
</body>
</html>