<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%- include("../partials/header")%>
    <h1><%= title%></h1>
    <% if (teachers !== undefined && teachers !== "" && teachers.length !== 0) { %>
        <h2>We proudly present, our team of teachers!</h2>
        <ul>
            <% teachers.forEach((teacher) => { %>
                <div class="teacher-container">
                    <li><%= teacher.teacher_name%></li>
                    <p>Currently Teaching: <!--TODO --></p>
                    <a href="/teachers/assign/<%= teacher.teacher_id%>">Assign a course%></a>
                </div>
            <%})%>
        </ul>
    <%} else {%>
        <p>We sadly do not have any teachers yet... But you can be our first!</p>
    <% }%>
    <a href="/teachers/register">Register to become a teacher!</a>
    <%- include("../partials/footer")%>
</body>
</html>